<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>My Website</title>

    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>

  <body>

    <div id="landing-page">

      <div class="heading">
        <div class="row">
          <div class="large-12 columns">
            <h1>My Website</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <h2>This Is a Sample Website</h2>
          <p>There isn't much to do just yet, but you can fill out some <a href="{% url 'project_forms' 'main' %}">forms</a>.</p>
          <p>Alternatively, you can check out a <a href="{% url 'subproject' %}">sub-project</a>.</p>
          <p>And if you're an administrator, you can create, edit, and publish forms of your own in the <a href="{% url 'admin' %}">forms admin area</a>.</p>
        </div>
      </div>
    </div>

  </body>
</html>

