<div class="question" ng-if="field.details.question" ng-bind-html="md2html(field.details.question)"></div>

<label>Address Line 1</label>
<input type="text" name="addressLine1" disabled value="{{ field.response ? field.response.addressLine1 : '' }}">

<label>Address Line 2</label>
<input type="text" name="addressLine2" disabled value="{{ field.response ? field.response.addressLine2 : ''}}">

<div class="row city-state-zip">
  <div class="small-6 columns">
    <label>City</label>
    <input type="text" name="city" disabled value="{{ field.response ? field.response.city : ''}}">
  </div>
  <div class="small-3 columns">
    <label>State</label>
    <input type="text" name="state" disabled value="{{ field.response ? field.response.state : ''}}">
  </div>
  <div class="small-3 columns">
    <label>ZIP</label>
    <input type="text" name="zip" disabled value="{{ field.response ? field.response.zip : ''}}">
  </div>
</div>
