<div id="admin-home" class="row">
  <div class="large-12 columns">
    <h1 class="title">Admin Apps</h1>
    <h4 class="subheader">
      The apps below are available for you to use.
    </h4>

    <div id="apps-list">
      <div class="row">
        <div class="large-4 columns last">
          <ul id="forms-app-info" class="pricing-table">
            <li class="title">Forms</li>
            <li class="description">
              Create forms for staff or website visitors to use. Examples include
              applications to programs, site visit forms, data submission for
              collaborative projects, etc.
            </li>
            <li class="cta-button"><a class="button small radius" href="/admin/forms">Work with Forms</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
