{% load form_responses_tags %}

{% if field.details.question %}
<div class="question">{{ field.details.question|markdown }}</div>
{% endif %}

<ul class="choices {% if errors %} error{% endif %}">
  {% for choice in field.details.choices %}
  <li class="choice">
    <input type="hidden" name="responses[{{ field.id }}][answers][{{ forloop.counter0|stringformat:'03d' }}][label]" value="{{ choice.label }}">
    <label><input type="checkbox" name="responses[{{ field.id }}][answers][{{ forloop.counter0|stringformat:'03d' }}][selected]" value="1"{% if choice.label in response.answers|selected_labels %} checked{% endif %}> {{ choice.label }}</label>
  </li>
  {% endfor %}
</ul>
{% if errors %}
  <small class="error">
    <ul>
    {% for name, msgs in errors.message_dict.items %}
    {% for msg in msgs %}
    <li>{{ name|add:' '|add:msg|capfirst }}</li>
    {% endfor %}
    {% endfor %}
    </ul>
  </small>
{% endif %}
