<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}Main{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    {% block css %}{% endblock %}
  </head>

  <body>

    <div class="top-bar contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">My Website</a></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            {% if user.is_authenticated %}
              {% if user.is_staff or user.is_superuser %}
              <li class="divider"></li>
              <li><a href="{% url 'admin' %}">Admin</a></li>
              {% endif %}
            {% endif %}
            <li class="divider"></li>
            <li>
              {% if user.is_authenticated %}
              <a href="{% url 'logout' %}">Log Out</a>
              {% else %}
              <a href="{% url 'login' %}">Log In</a>
              {% endif %}
            </li>
          </ul>
        </section>
      </nav>
    </div>

    <div class="row">
      <div class="large-12 columns">

        {% if messages %}
          {% for message in messages %}
            {% if message.tags != 'success' or message.message != 'DONE' %}
            <div class="alert-box {{ message.tags }}">{{ message }}</div>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}

      </div>
    </div>

  </body>
</html>

