<h1>A Sub-Project</h1>

<p>This is the sub-project area.</p>

<p>There isn't much to do here either, but you can fill out some project-specific <%= link_to 'forms', project_forms_path(:subproject) %>.</p>
